@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    display: grid;
    grid-template-columns: 1fr 2fr ;
}
.page{
  font-family: 'Fjalla One', sans-serif;
    width: 794px;
    margin: auto;
}
#address-form{
  width: 200px;
}
p{
  font-family:Roboto  
}
.header {
    height: 200px;
    background-color: rgb(53, 68, 99);
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .info {
    display: grid;
    grid-template-columns: 1.2fr 2fr;
  }
  .img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
  }
  .heading {
    font-size: 1.5rem;
    color:  rgb(53, 68, 99);;
    font-weight: 600;
    margin-left: 25px;
  display: inline-block;
  }
  .bigname {
    color: white;
    text-transform: uppercase;
  }
  .download_button{
    display: flex;
    justify-content: center;
  }
  .summary{
    margin-left: 25px;
  }

  .email,
  .address,
  .phone {
    margin: 10px;
  }
  .img {
    margin: 20px 20px 0 30px;
  }
  .bigname {
    font-size: 3rem;
    font-weight: 700;
    margin: 100px 0 0 30px;
    width: 497px;
  }
  
  .two {
    margin-top: 10px;
    border-left: 3px solid  rgb(53, 68, 99);;
    width: 506px;

  }
  .one{
    width: 303px;
  }
  .experince{
    margin-left: 25px;
    margin-bottom: 20px;
  }
  .education{
    margin-left: 25px;
    margin-bottom: 25px;
  }
  .container{
    margin-bottom: 20px;
  }
  .contact{
    margin-left: 28px;
    margin-bottom: 20px;
  }
  .Company{
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
  }
  .post{
    font-weight: 600;
    text-transform: capitalize;
  }
  .university{
    font-weight: 700;
    text-transform: uppercase;
  }
  .add-exprince,
  .add-eduction {
    color: black;
    text-decoration: none;
    background-color:  rgb(53, 68, 99);;
    height: 30px;
    width: 50px;
    margin: 5px;

  }
  /* from css */
  .form {
    width: 810px;
    min-height: 1050px;
    margin: auto;
    margin-top: 10px;
    background: white;
    position: relative;
  }
  /* btn */
   button{
     background:rgba(53, 68, 99, 0.445); ;
     padding: 3px 6px;
     border-radius: 3px;
     
   }
  footer {
    margin-top: 10px;
    height: 30px;
    background-color:  rgb(53, 68, 99);
  }
  .btn-desgin {
    padding: 3px 7px;
    background: grey;
    border-radius: 50%;
  }
  .file {
    display: none;
  }
  .btncont{
    display: flex;
    /* margin: auto; */
    margin-top: 30px;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .underline{
    height: 3px;
    width: 80%;
    background-color:rgb(53, 68, 99) ;
    margin: auto;
    margin-top: 30px;
  }
  .eduction{
  
    margin-left:25px ;
  }
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
  .navigation{
    line-height: 30px;
  }
  .info{
    height: 845px;
  }
  .test[placeholder]:empty:before {
    content: attr(placeholder);
    color: #555; 
  }
  #check{
    display: none;
  }
  .exp-position{
    position: absolute;
    right: 42px;
  }
  .delete{
    position: absolute;
    right: 25px;
  }
  .summary{
    font-family:'Roboto', sans-serif; 
    margin-right:70px ;
    line-height: 21px;
    margin-bottom: 10px;
  }
  .container{
    margin-right: 70px;
  }

  /*  */
  /*  */
  /*  */
  /*  */
  /* form css */
  .from{
      width: 430px;
      padding: 10px;
  }


 .from textarea{
    resize: none;
    width: 100%;
    font-family:'Roboto', sans-serif; 
  
  border: 0;
  border-bottom: 2px solid;
  display: block  ;
  outline: 0;
  margin-bottom: 10px;
  color: black;
  }
  .from input {
    border: 0;
    border-bottom: 2px solid;
    display: block  ;
    outline: 0;
    margin-bottom: 10px;
  }
  .details textarea {
      resize: none;
      width: 100%;
      font-family:'Roboto', sans-serif; 
    
    border: 0;
    border-bottom: 2px solid;
    display: block  ;
    outline: 0;
    margin-bottom: 10px;
    color: black;
  }
  .form_underline{
      height: 2px;
      width: 100%;
      background: #413F40;
      margin: 10px 0;
  }
  .from button{
      background: #1F90D2;
      border: 0;
      color: white;
      padding: 4px 7px;
      border-radius: 3px;
      text-align: center;
  }

  .download{
    text-align: center;
    padding: 5px 10px;
    border: 2px solid #413F40;
    background: transparent;
    border-radius: 5px;
    margin: 20px auto;
}
.button-container{
    display: flex;
    justify-content: space-between;
}
/*  */
/*  */
/*  */
/*  */
/*  */

/*  */
.from{
    width: 430px;
    padding: 10px;
    height: 1200px;
    overflow: scroll;
  }
  .form-style-5{
      /* max-width: 500px;  */
      padding: 10px 20px;
      background: #f4f7f8;
      margin: 10px auto;
      /* padding: 20px; */
      background: #f4f7f8;
      border-radius: 8px;
      font-family: Georgia, "Times New Roman", Times, serif;
  }
  .form-style-5 fieldset{
      border: none;
  }
  .form-style-5 legend {
      font-size: 1.4em;
      margin-bottom: 10px;
  }
  .form-style-5 label {
      display: block;
      margin-bottom: 8px;
  }
  .form-style-5 input[type="text"],
  .form-style-5 input[type="date"],
  .form-style-5 input[type="datetime"],
  .form-style-5 input[type="email"],
  .form-style-5 input[type="number"],
  .form-style-5 input[type="search"],
  .form-style-5 input[type="time"],
  .form-style-5 input[type="url"],
  .form-style-5 textarea,
  .form-style-5 select {
      font-family: Georgia, "Times New Roman", Times, serif;
      background: rgba(255,255,255,.1);
      border: none;
      border-radius: 4px;
      font-size: 15px;
      margin: 0;
      outline: 0;
      padding: 10px;
      width: 100%;
      box-sizing: border-box; 
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box; 
      background-color: #e8eeef;
      color:#8a97a0;
      -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
      box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
      margin-bottom: 30px;
  }
  .form-style-5 input[type="text"]:focus,
  .form-style-5 input[type="date"]:focus,
  .form-style-5 input[type="datetime"]:focus,
  .form-style-5 input[type="email"]:focus,
  .form-style-5 input[type="number"]:focus,
  .form-style-5 input[type="search"]:focus,
  .form-style-5 input[type="time"]:focus,
  .form-style-5 input[type="url"]:focus,
  .form-style-5 textarea:focus,
  .form-style-5 select:focus{
      background: #d2d9dd;
  }
  .form-style-5 select{
      -webkit-appearance: menulist-button;
      height:35px;
  }
  .form-style-5 .number {
      background: #1abc9c;
      color: #fff;
      height: 30px;
      width: 30px;
      display: inline-block;
      font-size: 0.8em;
      margin-right: 4px;
      line-height: 30px;
      text-align: center;
      text-shadow: 0 1px 0 rgba(255,255,255,0.2);
      border-radius: 15px 15px 15px 0px;
  }
  
  .form-style-5 input[type="submit"],
  .form-style-5 input[type="button"]
  {
      position: relative;
      display: block;
      padding: 19px 39px 18px 39px;
      color: #FFF;
      margin: 0 auto;
      background: #1abc9c;
      font-size: 18px;
      text-align: center;
      font-style: normal;
      width: 100%;
      border: 1px solid #16a085;
      border-width: 1px 1px 3px;
      margin-bottom: 10px;
  }
  .form-style-5 input[type="submit"]:hover,
  .form-style-5 input[type="button"]:hover
  {
      background: #109177;
  }
  .education_form form{
    margin-top: 20px;
  }